<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Metro Routes</title>
</head>
<body>
    <div class="section">
        <div class="heading">Find Your Metro Routes</div>
        <div class="subSection">
            <a href="/sample">Sample</a>
            <img src="/cover.jpeg">
            <form action="#" th:action="@{/sample}" th:object="${SourceDestStations}" method="post">
                <p>Id: <input type="text" th:field="*{id}" /></p>
                <p> Source:
                    <select th:field="*{source}">
                        <option th:each="p: ${stationList}" th:value="${p}" th:text="${p}"/>
                    </select>
                </p>
                <p>Message: <input type="text" th:field="*{content}" /></p>
                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>
        </div>
    </div>
</body>
</html>